html{font-size: 32px;}
body{max-width: 640px;margin: 0 auto;}
.header{width: 100%;height: 2.71875rem;font: 1.03125rem '微软雅黑';line-height: 2.75rem;text-align: center;color: #fff;background-color: #000;}
.header img{position: absolute;top: 1.0625rem;left: .96875rem;width: 1rem;height: .6875rem;}

/* nav */

.shadow{position: absolute;z-index: 99;top: 0;right: 0;width: 2rem;height: 2.375rem;background: -webkit-linear-gradient(left, rgba(250, 250, 250, .6) 20%, #fff 100%);background: -o-linear-gradient(left, #fff 0%, #fff);background: -moz-linear-gradient(left, #fff 0%, #fff);background: linear-gradient(left, #fff 0%, #fff);}
.nav{overflow: hidden;height: 2.375rem;}

/* 由于导航栏子项目熟练未定，所以最好由js来定宽度 */

.nav-ul{width:40rem;}
.nav li{float: left;overflow: hidden;box-sizing: border-box;width: 5.42rem;height: 2.375rem;font: .875rem/2.375rem '微软雅黑';text-align: center;background-color: #fff;}
li.on{position: relative;color: #df2a5c;border-bottom: 3px solid #b50133;}
li.on:after{position: absolute;bottom: 0;left: 50%;width: 0;height: 0;content: '';border: 3px solid transparent;border-bottom-color: #b50133;}

/* warp */

.wrap{box-sizing: border-box;height: 38.4375rem;padding: .6875rem .28125rem 0 .625rem;background-color: #df2a5c;}
.wrap > div{position: relative;float: left;box-sizing: border-box;width: 48%;height: auto;margin-right: 2%;margin-bottom: 2%;border: 1px solid black;border-radius: 5px;background-color: #fff;}
.product-name{margin-bottom: .625rem;padding: 0 .46875rem;font-size: .75rem;line-height: .84375rem;}
.product-price{height: 1.40625rem;margin-bottom: .6875rem;padding: 0 .46875rem;font-size: .6875rem;line-height: 1.40625rem;white-space: nowarp;color: #df2a5c;}
.product-price span{font-size: .46875rem;}
.product-car{position: absolute;right: .4375rem;bottom: .625rem;width: 1.40625rem;height: 1.40625rem;text-align: center;border-radius: 50%;background-color: #df2a5c;
    /*  transform: scale(1, 1); 使用后不好定位了 已舍弃*/}
.product-car img{width: 1rem;height: .90625rem;vertical-align: middle;}
.img-div{overflow: hidden;height: 7.09375rem;line-height: 7.09375rem;text-align: center;}
.img-div img{width: 9.15625rem;vertical-align: middle;}
@media screen and (max-width: 460px){
	.product-price{
		font-size:16px;
	}
}