
.header {
    width: 100%;
    height: 8.7rem;
    font: 3.3rem "微软雅黑";
    line-height: 8.8rem;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.header span {
    width: 3.2rem;
    height: 2.2rem;
    left: 3.1rem;
    top: 3.4rem;
    background: url(../images/icon_return.png) no-repeat center center;
}

/* nav */

.nav li {
    width: 25%;
    height: 76px;
    font-size: 2.8rem;
    line-height: 76px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}
li.on {
    border-bottom: 3px solid #B50133;
    background-color: #fff;
    background: url(../images/icon_nav_arrows.png) center 68px no-repeat;
    background-color: #fff;
}

/* warp */

.wrap {
    background-color: #DF2A5C;
    height: 1230px;
    box-sizing: border-box;
    padding: 22px 9px 0 20px;
}
.wrap>div {
    width: 48%;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 5px;
}
.product-name {
    font-size: 2.4rem;
    line-height: 27px;
    margin-bottom: 20px;
}
.product-price {
	height: 4.5rem;
    font-size: 2.4rem;
    line-height: 4.5rem;
    color: #DF2A5C;

}
.product-price span {
    font-size: 1.5rem;
}
.product-car {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    background: url(../images/shop_car.png) center center no-repeat;
    background-color: #DF2A5C;
    border-radius: 50%;
}
.img-div{
	height: 22.5rem;
	line-height: 23rem;
	text-align: center;
	overflow: hidden;
}
.img-div img{
	vertical-align: middle;
}
@media screen and (max-width: 375px){
	html{
		font-size: 31.25%;
	}
}